.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
}

.editor-class {
    background-color: #f9f8f8;
    padding: 1rem;
    border: 1px solid #ededed;
}

.toolbar-class {
    border: 1px solid #ccc;
}

.preview {
    padding: 1rem;
    margin-top: 1rem;
}
